<div class="jumbotron login centered">

    <script>document.createElement("my-logo")</script>
    <my-logo><img src="css/image/embedded.png"></my-logo>
    <section>
        <h3 class="text-center">Capacitação Embedded</h3>
    </section>
    <form name="loginCtrl.loginForm">
        <input type="email" class="form-control" placeholder="Email" name="email" ng-required="true"
               ng-pattern="/^[a-zA-Z]+\.[a-zA-Z]+@embedded\.ufcg\.edu\.br$/" ng-model="loginCtrl.credentials.username">
        <input type="password" name="password" class="form-control" placeholder="Senha" ng-required="true"
               ng-minlength="8" ng-model="loginCtrl.credentials.password" ng-change="loginCtrl.deleteError()">

        <button type="submit" class="btn btn-primary btn-block form-control" ng-disabled="!loginCtrl.loginForm.$valid"
                ng-click="loginCtrl.login(loginCtrl.credentials)"> Entrar
        </button>
    </form>

    <section ng-messages="loginCtrl.loginForm.email.$error" ng-show="loginCtrl.loginForm.email.$dirty">
        <div ng-message="required">
            <ui-alert>O campo email não pode ser vazio</ui-alert>
        </div>
        <div ng-message="pattern">
            <ui-alert>O email deve ter o formato nome.sobrenome@embedded.ufcg.edu.br</ui-alert>
        </div>
    </section>

    <section ng-messages="loginCtrl.loginForm.password.$error" ng-show="loginCtrl.loginForm.password.$dirty">
        <div ng-message="required">
            <ui-alert>A senha não pode ser vazio</ui-alert>
    </div>
        <div ng-message="minlength">
            <ui-alert>A senha deve ter pelo menos 8 caracteres</ui-alert>
        </div>
    </section>
    <request-error/>
</div>